<a href="https://colab.research.google.com/github/recervictory/computer-science-with-python-xi/blob/master/CH06_String_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 6.1 INTRODUCTION
After going through Conditional Constructs in the previous chapter, we will now discuss Strings —an important sequence/collection provided by Python. Think about beads or anything you might string together. You place one bead at a time on to the string. Eventually, you end up with some type of ornamentation—perhaps a necklace or a tree garland. But the point is that these items are made up of individual beads. The same concept used for a necklace made up of beads holds true for strings in computer. When you see a sentence, you understand that it is made up of individual characters that are strung together by the programming language you use. The language creates a structure that holds individual characters together. So, the language, and not the computer, knows that so many alphabets or numbers in a row (each number being represented as a character) make a string or a sentence, In Python too, like in real life, we deal with strings.

A program to display a “Hello message” to the user that combines with his/her name. Consider, the Python code for this:

In [ ]:
print("Enter your name: ")
name = input()
print("Hello " + name + "!")

## 6.3 CREATING STRINGS
Strings are among the most popular data type In Python. We can create them by simply enclosing characters in quotes (single, double or triple). Python treats single quotes the same as double quotes. Sometimes, triple quotes can be used in Python but they are generally used to represent multiline strings and doc strings. An empty string is a string that has 0 character: Creating strings is as simple as assigning a value to a variable.

In [ ]:
str1 = "Hello World!"
str2 = 'Python Programming'
print(str1,str2)

Python does not support character type, these are treated as string of length one, also consider as a substring.
For example, 'a','b','c'  are all string of length one.
Double and single quotes are  part of python's keyword, so to insert any special characters like this will be we need to escape them (i.e with use `(\)` in front of them.)

In [ ]:
str1 = 'This is Sourav\'s Notebook.'
str1

### Empty String
An empty string is a string without any characters inside, having length zero.

In [ ]:
empty = ""
print(empty)

As is evident from the above example, string str **does not hold any value**, i.e, it is an empty
string. Therefore, when we print an **empty string**, a blank space gets displayed in the next line.

If a command is long, then it can be shifted to the next line by typing `(\)`, but it shows the result in the same line.

In [ ]:
str1 = "This is the first line \
        Split in this postion."
print(str1)

If you wish to display the output on the **next line**, then the use of escape sequence `(\n)`
becomes mandatory.

In [ ]:
str1 = "This is the first line \n Split in this postion."
print(str1)

We can also use escape sequence `(\t)` to tabulate the output.

In [ ]:
header =  "RollNo\t Name\t Class"
students = "123\t Dev\t XII\n124\t Riya\t XII"
print(header)
print(students)

### Multiline Strings
Multiline strings are represented using triple quotes `(''')` or even single or double quotes.

## 6.4 TRAVERSING A STRING
Traversing a string means accessing all the elements of the string one after the other by using the subscript or index value. Each characterin a string is located in different slots (like Lockers).

![Character Representation in string](img\CH06F01.jpeg)

Each characterin a string has an index value. Indexing starts at 0 and must be an integer.
Individual elements/slots can be accessed by typing index value inside square [ ] brackets as
shown in the output window given below.

In [ ]:
var = "Hello World!"
print(var[0])
print(var[1])
print(var[11])
print(var[-1])
print(var[-10])
print(var[-12])

We can’t use float or other types for index as this will result in TypeError. Trying to access a
character out of index range will raise an IndexError.
We can start index value either from the left or from the right. Left index starts from 0 and
right-side index starts from -1.

![Python String](img\CH06F02.jpeg)

### Iterating through string using `for loop`
Each character of the string can be accessed sequentially using for loop. This is done using
the indexes, and iterating over it results in displaying the elements of a string, one character at a time.

In [ ]:
string = "Computer Science with Python"
for ch in string:
    print(ch, end = " ")

In the above code, the loop starts from the first character of the string `string` and automatically ends when the last character is accessed.

### b) Iterating through string (String Traversal) using while loop
Like for, `while` loop can also be used for string traversal. Each elementof the string is accessed
one by one and `while` loop iterates till the end of the inputted string, which can be determined
using standard library function, `len()` function.

In [ ]:
# String traversing using while loop
str1 = "Python Programming"
index = 0
while index < len(str1):
    print(str1[index],end=" ")
    index += 1

Here `while` loop runs till the condition index < len(str) is True, where index varies from 0 to len(str1)-1.

### Implementation: Write a program that takes string and one character as a input and find the number of characters present in the string.

In [ ]:
# Your Code should be here.

### Write a program to input a string from the user and print it in the reverse order without creating a new string.

In [ ]:
# Your Code should be here.

## 6.5 SPECIAL STRING OPERATORS
String can be manipulated using operators like concatenate `(+)`, repetition `(*)` and membership operator like `in` and `not in`.

![SPECIAL STRING OPERATORS](img\CH06F03.jpeg)

### 6.5.1 Concatenating Strings
Concatenation refers to creating a new string by adding two strings. The `+` operator joins Of concatenates strings written on both sides of the operator and creates a new string.

In [ ]:
"Hello " + "World!"

In [ ]:
name = input("Enter your name: ")
"Hello " + name

In [ ]:
6
print("6" + "4")    # + operator concatanate two string
print(6 + 4)        # + operator add to integer

In [ ]:
6 + "4" # Rise Error

### 6.5.2 Replicating Strings
The `*` operator creates a new string by repeating multiple copies of the same string.

In [ ]:
3 * "Python "

In [ ]:
'1' + '0' * 10

For replication operator `*`, Python creates a new string that is a number of repetitions of the input string.
#### The `*` operator has to either have both operands of the number types (for performing multiplication) or one string type and one number type (for replication). It cannot work with both operands of string types.

In [ ]:
'3' * '4' # Rise Type Error

The last statement shall result in an error because strings can’t be multiplied; one operand has
to be an integer value

### 6.5.3 Membership Operators
Python offers two membership operators for checking whether a particular character exists in the given string or not. These operators are 'in' and 'not in'.

- **`in` operator**: It returns true if a character/substring exists in the given string. 
- **`not in` operator**: It returns true if a character/substring does not exist in the given string.

To use membership operator in strings, it is required that both the operands used should be of string type, i.e.,
```{python}
<substring> in <string>
<substring> not in <string>
```

In [ ]:
'H' in 'Hello'

In [ ]:
'h' in 'Hello'

In [ ]:
'Hell' in 'Hey, Hello, Kolkata'

In [ ]:
str1 = "Python programming Class"
"Class" in str1

### 6.5.4 Comparison Operators
You can use relational/comparison operators (>, <, >=, <=, ==, !=) to compare two strings.
Python compares strings using ASCII, rather UNICODE values of the characters. UNICODE values are called "**Ordinal values**".

Python start by comparing the first element from each sequence (character-by-character
comparison). If they are equal, it goes on to the next element, and so on, until it finds elements
that differ. Subsequent elements are not considered (even if they are big).

In [ ]:
"A" == "A"

In [ ]:
"A" > "B"

In [ ]:
"AA" < "AB"

In all the above examples, Python compares using values (called **Ordinal Values**). For most
common characters, the ASCII and Unicode values are same. The table below gives the most
common characters and their ordinal values:

![SPECIAL STRING OPERATORS](img\CH06F04.jpeg)

In [ ]:
# Python Function to find Oridinal Value
ord("A"), ord("B"), ord("a"), ord("b"), ord("0"),ord("9")

### 6.5.5 String Slicing
Slicing is used to retrieve a subset of values. A slice of a string is nothing but a substring. This
ektracted substring is termed as slice, Chunk of characters can be extracted from a string using
Slice operator with two indices in square brackets separated by colon (`[:]`). 
#### The syntax is:
```{python}
String Variable [start, end, step]
```

![SPECIAL STRING OPERATORS](img\CH06F05.jpeg)

In [ ]:
alphabetString = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
alphabetString

In [ ]:
alphabetString[0:5]

In [ ]:
alphabetString[5:10]

In [ ]:
alphabetString[:10]

In [ ]:
alphabetString[10:]

In [ ]:
alphabetString[5:25:2]

In [ ]:
alphabetString[::2]

In [ ]:
alphabetString[::-1]

## 6.6 STRINGS ARE IMMUTABLE
Strings are **immutable** means that the content of the string cannot be changed after it js
created. Let us understand the concept of immutability with the help of an example.
```{python}
str1 = "hello world"
str1[0] = 'H'

```

TypeError: 'str1' object does not support item assignment. Python does not allow the
programmer to change a character in a string. As shown in the above example, strl has the
value ‘Student’. An attempt to replace ‘din the string by ‘p’ displays a TypeError.

In [ ]:
str1 = "hello world"
str1[0] = 'H'

## 6.7 STRING METHODS AND BUILT-IN FUNCTIONS
Python provides several built-in functions associated with the strings. These functions allow
us to easily modify and manipulate strings. We can think of functions as being actions that
we perform on elements of a string in our code. Built-in functions are pre-defined in Python
programming language and are readily available for use.

1. `len()`          — This method returns the length of the string.
2. `capitalize()`   — This method returns the exact copy of the string with the first letter in **uppercase**.
3. `split()`        — The split() method breaks up a string at the specified separator and returns a list of substrings.
4. `replace()`        — This function replaces all the occurrences of the old string with the new string

In [ ]:
str1 = input("Enter the string")
len(str1) #function

28

In [ ]:
str1 = "cc Conditional.this and Looping Constuct "
str1.capitalize()

'Cc conditional.this and looping constuct '

In [ ]:
str1.upper() # Uppercase string

'CC CONDITIONAL. THIS AND LOOPING CONSTUCT '

In [ ]:
str1.lower()

'cc conditional. this and looping constuct '

In [ ]:
str1.title()

'Cc Conditional.This And Looping Constuct '

In [ ]:
str1.split(" ",2)

list

In [ ]:
alph = 'kolkata63'
#print(alph.isalpha())
print(alph.isalnum())

True

In [ ]:
dig = '7'
dig.isdigit()

True

In [ ]:
'9'.isspace()

False

In [ ]:
str1 = "this is this function on this code block is his this"
str1.count("his",15,25)

0

In [ ]:
'TT'.islower()

False

In [ ]:
text = " Kolkata is city of joy.           "
text

' Kolkata is city of joy.           '

In [ ]:
text.strip()

'Kolkata is city of joy'

In [ ]:
dot = text.rstrip()
dot.strip(".")

' Kolkata is city of joy'

In [ ]:
ch = "*"
text = "Kolkata is.city of joy"
ch.join(text)

'K*o*l*k*a*t*a* *i*s*.*c*i*t*y* *o*f* *j*o*y'

In [ ]:
text = "Kolkata is.city of joy"
lst = text.split(".")
#print(lst)
".".join(lst)

'Kolkata is.city of joy'

In [ ]:
text.swapcase()

'kOLKATA IS.CITY OF JOY'

In [ ]:
email = "mymail@gamil.com"
email.partition(".")

('mymail@gamil', '.', 'com')

In [ ]:
email.split(".")

['mymail@gamil', 'com']

In [ ]:
chr(65)

'A'

In [ ]:
ord('A')

65

In [ ]:
x = "tHE kolkata city kolkta"
x.find('k',8)

17